stages:
  - build
  - deploy

variables:
  # Configure these in GitLab CI/CD Variables
  # DOCKER_USERNAME
  # DOCKER_PASSWORD
  # PHALA_CLOUD_KEY
  # PHALA_APP_ID
  DOCKER_IMAGE: $DOCKER_USERNAME/verifiable-wallet-service

build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - cd worker
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker build -t $DOCKER_IMAGE:latest -t $DOCKER_IMAGE:$CI_COMMIT_SHA .
    - docker push $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:$CI_COMMIT_SHA
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "development"

deploy_phala:
  stage: deploy
  image: node:20
  script:
    - npm install -g @phala/cli
    - cd worker
    - echo "Deploying to Phala Cloud..."
    # Note: Using the same CVM (PHALA_APP_ID) for both main and development branches
    # as requested. This means development deployments will overwrite production.
    # To separate, use a different variable (e.g. PHALA_APP_ID_DEV) for development.
    - npx phala login --token $PHALA_CLOUD_KEY
    - npx phala cvms upgrade $PHALA_APP_ID --image $DOCKER_IMAGE:$CI_COMMIT_SHA
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "development"
